[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
mangum = "*"
azure-functions = "*"

[scripts]
function = "uvicorn function_app:app --reload"

[dev-packages]

[requires]
python_version = "3.11"
